* {
    font-size: 100%;
    font-family: $fontFamily;
}

body {
    background-color: $backgroundMain !important;
}

.my_btn, .transparent {
    text-transform: uppercase;
    color: $white !important;
}
.my_btn {
    background-color: $mandy !important;
}
.my_btn:hover, .transparent:hover {
    background-color: $white !important;
    color: $charade !important;
    transition: all 0.5s linear;
}